<html>
	<head>
		<title><%= title%></title>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/javascripts/jquery/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/chat.js"></script>
		<script type="text/javascript" src="/javascripts/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/javascripts/app.js"></script>
		<script type="text/javascript" src="/javascripts/controllers.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/chat2.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	</head>
	<body ng-app="chatApp">
