body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
  color: #00B7FF;
}

.accept {
	cursor: pointer;
}

.locked {
}

.busy {
	cursor: pointer;
}

.close {
	cursor: pointer;
	float: right;
}

.room {}

.name {
	color: #00B7FF;
}
